.redButton{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(239,116,116,1) 89%)

}
.redButton:hover{
    outline: 2px ridge rgb(150, 52, 52);
}

.appMainDiv{
    padding: 0.5%;
    color: white;
    border-style: groove;
    border-color: black;
    
}
.pSearchResult{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1px;
    padding-left: 5px;
    border-radius: 10px;
    background: rgb(94,25,25);
    background: linear-gradient(90deg, rgba(94,25,25,1) 9%, rgba(20,20,20,1) 22%, rgba(31,31,31,1) 90%, rgba(235,235,235,1) 100%);
    color: white;
}

.searchButton{
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    background-color: rgb(203, 202, 202);
    box-shadow:0 0 15px 4px rgba(179, 54, 54, 0.797);
}
.pDisplayText{
    user-select: none
}
.bookDisplay{
    list-style-position:inside;
    padding: 1%;
    border-style:solid;
    border-color: black;
    margin-left: 2%;
}
input[type=text] {
    background-color: rgb(203, 202, 202);
    padding:4px;
    border:0;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(179, 54, 54, 0.797);
}
input[type=text]:focus{
    outline:none
}
body{
    background-color: #555555;
}