.redButton{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(239,116,116,1) 89%)

}
.redButton:hover{
    outline: 2px ridge rgb(150, 52, 52);
}

.appMainDiv{
    padding: 0.5%;
    color: white;
    border-style: groove;
    border-color: black;
    
}
.pSearchResult{
    padding-left: 5px;
    border-radius: 10px;
    background: rgb(94,25,25);
    background: linear-gradient(90deg, rgba(94,25,25,1) 9%, rgba(20,20,20,1) 22%, rgba(31,31,31,1) 90%, rgba(235,235,235,1) 100%);
    color: white;
}
body{
    background-color: grey;
}